{% extends 'base.html.twig' %}

{% block title %}Add Fund{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    <button class="btn">Add</button>
    {{ form_end(form) }}

{% endblock %}